*{
  background: black;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 24px;
  margin: 20px;
  animation-name: slide-title;
  animation-duration: 1s;
  position: relative;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  
}

.Movie_title{
  width: 250px;
  overflow:hidden;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-left: 15px;
  font-size: 20px;
}

.releaseDate{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 15px;
  font-size: 12px;
  margin-bottom: 55px;
}

.poster{
  margin: 15px;
  animation-name: slide-in;
  animation-duration: 1.5s;
  position: relative;
  transition: .8s;
}

.poster:hover{
  transform: scale(1.1);
  transition: 1s;
}

.buttons{
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnNext{
  border: 1px solid red;
  color: red;
  margin-left: 20px;
  position: relative; 
  right: 6%;
}

.btnNext:hover{
  cursor: pointer;
  background: red; 
  color: black;
}

.container{
  width: 80%;
  position: relative;
  left: 16%;
}

@keyframes slide-in{
  0%{top: 50px; opacity: 0;}
  100%{top: 0px; opacity: 1;}
 }

 @keyframes slide-title{
   0%{left: 120px; opacity: 0}
   100%{left: 0px; opacity: 1}
 }