*{
  background: black;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  color: red;
  font-size: 24px;
  margin: 20px;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.Movie_title{
  width: 250px;
  overflow:hidden;
  font-family: 'Courier New', Courier, monospace;
  color: red;
  margin-left: 15px;
}

.releaseDate{
  color: red;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 15px;
}

.poster{
  margin: 15px;
}

.buttons{
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnNext{
  border: 1px solid red;
  color: red;
}

.btnNext:hover{
  cursor: pointer;
  background: red; 
  color: black;
}