.home{
  background: black;
  height: 100vh;
  color: red;
  text-align: center;
}

.message{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  position: relative;
  top: 20%;
}

.profileBtn{
  background: black;
  color: red;
  border: 2px solid black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  position: relative;
  top: 30%;
}

Link{
  text-decoration: none;
}